$font-theme-light: black;
$background-btn-theme-light-hover: #347EFF;
$background-btn-theme-light:#2F71E5;
$background-btn-theme-light-disabled:#E6E8EB;
$color-theme-light-disabled:#B6BCBF;
$page-background-light:#fff;

$font-theme-dark: white;
$page-background-dark:#162831a1;



//for-light-theme

$primary-color:#302ae6;
$secondary-color:#536390;
$font-color: #424242;
$bg-color:#fff;
$heading-color: #292992;


//for dark theme
$primary-color_dark:#9a97f3;
$secondary-color_dark:#818cab;
$font-color_dark: #e1e1ff;
$bg-color_dark:#161625;
$heading-color_dark: #818cab;