.header {
  @include flex(row, space-between, center);
  padding:5px;
  box-sizing: border-box;


  &__dark {
    color:$font-color_dark;
  }

  &__unit-btn {
    border:none;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    &:hover {
      box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
      inset 0px -5px 15px rgba(255, 255, 255, 0.4);
      cursor: pointer;
      transition: 0.3s;
    }
    &_dark {
      color:$font-color_dark
    }

  }

  &__img {
    max-width:100px;
    display:block;
    height: auto;
  }
  &__list {
    @include flex(row, space-between, center);
    padding:0;
    margin:0;
    list-style: none;
    flex-wrap: wrap;
    gap:10px;
    &-item {
      font-size: $font-m;
      margin:auto;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__link {
    color: $font-theme-light;
    transition: background-color  1s;
    height:100%;
    padding:3px;
    text-decoration: none;
    border-radius: 10px;
    &:hover {
      text-decoration: none;
      color: $font-theme-dark;
      background-color:$background-btn-theme-light-hover;
    }
    &_curr {
      color: $font-theme-dark;
      background-color: $background-btn-theme-light-hover;
    }
    &_dark {
      color:$font-color_dark;
    }
  }
}

